[submodule "teleop_ws/src/vendor/mqtt_client"]
	path = teleop_ws/src/vendor/mqtt_client
	url = https://github.com/ika-rwth-aachen/mqtt_client.git
[submodule "teleop_ws/src/vendor/astroviz_interfaces"]
	path = teleop_ws/src/vendor/astroviz_interfaces
	url = https://github.com/CDonosoK/astroviz_interfaces.git