[submodule "teleop_ws/src/vendor/mqtt_client"]
	path = teleop_ws/src/vendor/mqtt_client
	url = https://github.com/ika-rwth-aachen/mqtt_client.git
[submodule "/home/rafal/Web_Speech_remote_control/teleop_ws/src/vendor/g1pilot"]
	path = /home/rafal/Web_Speech_remote_control/teleop_ws/src/vendor/g1pilot
	url = https://github.com/hucebot/g1pilot
[submodule "teleop_ws/unitree_sdk2_python"]
	path = teleop_ws/unitree_sdk2_python
	url = https://github.com/lnotspotl/unitree_sdk2_python.git
[submodule "/home/rafal/Web_Speech_remote_control/teleop_ws/src/vendor/unitree_sdk2_python"]
	path = /home/rafal/Web_Speech_remote_control/teleop_ws/src/vendor/unitree_sdk2_python
	url = https://github.com/lnotspotl/unitree_sdk2_python.git
